@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: Noto Sans;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: calc(16px + 0.4vmin);
  
  
}

h1 {
  font-size: 2.55rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
  color: #032d60;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #032d60;
  letter-spacing: -0.05rem;
  
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #032d60;
  letter-spacing: -0.05rem;
  
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #032d60;
  letter-spacing: -0.05rem;
  
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #032d60;
  letter-spacing: -0.05rem;
  
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #181818;
}

li {
  font-size: 1rem;
  font-weight: 400;
}

a {
  font-size: 1rem;
  font-weight: 600;
  color: #032d60;
  transition: 0.5s;
}

a:hover {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: blue;
}





.primary-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: #0176d3;
  color: white;
  border: 3px solid #0176d3;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

.primary-btn:hover {
  font-size: 1rem;
  font-weight: 500;
  background-color: #032d60;
  border: 3px solid #032d60;
  color: white;
}

.secondary-btn {
  
  color: #0176d3;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 3px solid #0176d3;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

.secondary-btn:hover {
 font-size: 1rem;
 background-color: rgba(0, 0, 200, 0.1);
 
 font-weight: 500;
 border: 3px solid black;
 color: black;
}


.container {
  padding-inline: 1.5rem;
  width: 100%;
}

img {
  width: 100%;
}
  
/*------navbar-------*/


.navbar {
  position: relative;
  z-index: 99;
}

nav {
  width: 100%;
  padding-block: 1.1rem;
  background-color: white;
  color: #032d60;
  font-size: 1.1rem;
  padding-inline: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
}

.navbar i {
  color: black;
  transition: 0.3s;
  text-decoration: none;

}

.navbar i:hover {
  color: blue;
  text-decoration: none;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  
}

.left-menu {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
}

.left-menu .fa-xmark  {
  cursor: pointer;
  font-size: 1.38rem;
}

.left-menu .fa-bars  {
  cursor: pointer;
  font-size: 1.2rem;
}

.left-menu img {
  width: 2.6rem;
  height: auto;
  cursor: pointer;
}

.right-menu {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4rem;
}

.right-menu a {
 color: white;
 background-color: green;
 padding-inline: 1rem;
 padding-block: 0.3rem;
 text-decoration: none;
 border-radius: 0.4rem;
 
}

.right-menu a:hover {
  background-color: #080707;
}

.right-menu .fa-user {
  cursor: pointer;
  background-color: white;
  padding: 0.6rem;
}

.right-menu .fa-user:hover {
  cursor: pointer;
  color: blue;
  background-color: rgba(0, 0, 200, 0.1);
  border-radius: 50%;
}

.right-menu .fa-magnifying-glass {
  cursor: pointer;
}

.side-menu {
  transform: translateX(-100%);
  padding-block: 0.6rem;
  padding-top: 0;
  padding-inline: 1.9rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 50%;
  height: calc(100vh - 100%);
  transition: 0.2s ease-in-out;
  overflow-y: scroll;
}

.side-menu a {
  color: #032d60;
  transition: 0.5s;
  text-decoration: none;
}

.side-menu a:hover {
  color: blue;
  text-decoration: none;
}

.side-menu ul {
  list-style-type: none;
  position: relative;
  max-height: 80vmax;
  min-height: 87vh;
}

.side-menu ul li {
  margin-block: 1.5rem;
}

.side-menu ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-menu ul li a div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}

.mo {
  margin-block: 2rem;
  text-align: center;
  
 
  
}

.mo p {
  font-weight: 600;
}

.side-menu ul li:nth-child(1) {
  margin-top: 0.6rem;
}

/*-------navigation---------*/


.active {
  display: none;
}

.activelist {
  transform: translateX(0);
}

/*--------news--------*/

.news {
  color: white;
  background-color: #032d60;
  padding-block: 1rem;
  margin-top: 4.3rem;
  
}

.news p {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;

}

.news a {
  color: white;
}

.news a:hover {
  color: white;
}

/*-----head-----*/


.head {
  background-image: url('images/starter-sm-bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  
}

.head .container {
  padding-block: 5vmin;
  padding-bottom: 8vmin;
  padding-inline: 10vmin;
  

  
}

.head-text {
  text-align: left;
  margin-bottom: 5vmin;
  
}

.head-text h1 {
  margin-bottom: 3vmin;
  
}

.head-btn {
  display: flex;
  gap: 1.5rem;
  justify-items: flex-start;
  align-items: center;
  margin-top: 4vmin;
}

.head-video  {
  margin-top: 6vmin;
  overflow: hidden;
  border-radius: 2rem;
  
  
}

.head-video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}


/*------products section------*/


.products {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,250,255,1) 100%);
  padding-top: 4rem;
}

.products .container {
  text-align: center;
  margin-bottom: -5.5rem;
  
  
}

.p-box {
  padding-block: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: left;
}

.p-card {
  width: calc(50% - 0.75rem);
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: white;
}

.p-card img {
  width: 100%;
  height: auto;
  
}


.p-card-text {
  padding: 2rem 1.5rem;
}

.p-card-text h4   {
 margin-block: 0.8rem; 
}

.p-card-text p   {
 margin-block: 0.8rem; 
  
}

.p-card-text a   {
 margin-block: 0.8rem; 
  
}

.p-btn {
  text-align: center;
  margin-inline: auto;
  
}

/*-------cta-top-----*/

.cta-top {
  
}

.cta-top .container {
  text-align: center;
  padding-block: 3rem;
  padding-inline: 8rem;
}

.cta-top .container h2 {
  margin-bottom: 2rem;
}

.cta-top .container p {
  margin-bottom: 2.5rem;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}


/*------skill section------*/


.skills {
  padding-block: 3rem;
  background: white;
  text-align: center;
}

.skills .container {
  
}

.skills .container h2 {
  margin-bottom: 2rem;
}

.skills .container .skills-p {
  margin-bottom: 3rem;
  
}

.skill-box {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
 margin-bottom: 5rem;
 
 
}

.skill-card {
 width: calc(33% - 0.75rem); 
 box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
 background-color: white;
 border-radius: 1rem;
 overflow: hidden;
 text-align: left;

}

.skill-img {
  display: inline-block;
  width: 45%;
  height: auto;
  
  margin-inline: 27.5%;
  margin-top: 1rem;
  
 
 
  
}

.skill-text {
text-align: left;
padding-inline: 1rem;
padding-block: 2rem;

}

.skill-text h5 {
  
 margin-bottom: 1rem;
  
}

.skill-text p {
  
 margin-bottom: 1.5rem;
  
}

.skill-text p:first-child {
  padding: 0.2rem 0.7rem;
  background-color: rgba(0, 0, 250, 0.2);
  font-size: 1rem;
  border-radius: 2rem;
  display: inline-block;
  margin-bottom: 1rem;

}

.skill-text a {

  margin-top: 1.5rem;

}

.skill-btn {
  display: inline-block;
  margin-top: 2rem;
}


/*----brands section-----*/

.brands {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,250,255,1) 100%);
  text-align: center;
  padding: -5rem;
}

.brands .container {
  padding: 4rem 10vw 2rem;
}

.brands .container h2 {
 margin-bottom: 2rem; 
}

.brands .container a {
  margin-bottom: 2rem;
  display: inline-block;
  padding-inline: auto;
}

.brand-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: -4rem;
}

.brand-card {
  background-color: white;
  width: calc(33% - 0.6rem);
  box-shadow: 0rem 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 1rem 2rem;
}


.curved-bg img {
  width: 100%;
  height: auto;
  
  margin-bottom: -4rem;
  
}

/*-----cta-mid------*/


.cta-mid {
  margin-block: 5.5rem;
  margin-inline: 1.5rem;
  
  text-align: left;
  box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-left: 3.5rem;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;
}

.cta-mid-text {
  width: 48%;
  
  
}

.cta-mid-text h2 {
  margin-bottom: 5rem;
}

.cta-mid-img {
  width: 48%;
  align-self: flex-end;
  
}

.cta-mid-text a {
  margin-block: 0.5rem;
  display: inline-block;
}


/*------features-box------*/


.features {
 margin-block: 2rem; 
}

.features .container {
  padding: 2rem 4rem;
  text-align: center;
}

.fea-box {
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: left;
 flex-wrap: wrap;
 column-gap: 1.5rem;
 row-gap: 2rem;
 margin-top: 3rem;
}

.fea-card {
  width: calc(50% - 1rem);
  
}

.fea-card img {
  width: 100%;
  height: auto;
}

.fea-card a {
  margin-top: 3rem;
  display: inline-block;
}

/*-------stats------*/

.stats {
  margin-block: 5rem;
}

.stats .container {
  text-align: center;
  margin-bottom: -2rem;
}

.stats .container h2 {
  margin-bottom: 3rem;

}

.stats-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.stats-card {
  width: calc(33% - 0.6rem);
  text-align: left;
  
}


/*-----cta-bbottom-----*/

.cta-bottom {
  margin-bottom: 3rem;

}

.cta-bottom .container {
  background-image: url('images/footer-mid3-in.jpg');
  background-size: cover;
  background-position: bottom;
  background-color: white;
  padding-inline: 20%;
  background-repeat: no-repeat;
}

.cta-bottom-text {
  text-align: center;
}

.cta-bottom-text h2 {
  margin-bottom: 2.5rem;
}

.cta-bottom-text p {
  margin-bottom: 2rem;
}

.cta-bottom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 30%;
  row-gap: 2rem;
  column-gap: 1rem;
  
}


.cta-bottom-btn a {
  width: 40%;
  

}

/*-----footer-----*/

.footer {
  background-color: #032d60; 
  color: white;
  padding-block: 1rem;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.footer-logo {
  width: 22%;
  align-self: flex-start;
}

.footer-text {
  width: 75%;
}

.footer-link {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-bottom: 1.5rem;
}

.footer-copy {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}



.footer a, .footer p {
  color: white;
  font-size: 0.8rem;
  
}

.footer h4 {
  display: inline-block;
  margin-inline: 0.2rem;
  color: white;
}

.credit p, .credit a {
  opacity: 0.4;
  display: inline-block;
  text-decoration: none;
}

.credit a:hover {
  color: white;
  opacity: 1;
  
}

/*----media queries----*/

@media screen and (max-width: 600PX) {
  
  
  
  .container {
    padding-inline: 1rem;
  }
  
  .side-menu {
    width: 100%;
  }
  
  .top-menu a {
    font-size: 0.9rem;
    padding-inline: 1rem;
  }
  
  .right-menu {
  gap: 0.6rem;
    
  }
  
  h1 {
    font-size: 2.2rem;
  }
  
.head-btn {
  flex-direction: column;
  gap: 0.5rem;
}
.head-btn a {
  width: 100%;
}

.head-video {
  border-radius: 1rem;
}

.head .container {
  padding-block: 8vmin;
  padding-bottom: 2vmin;
  padding-inline: 6vmin;
}

.products {
  padding-top: 2.5rem;
}

.products .container {
  margin-bottom: 0rem;


}

.p-box {
  padding-block: 2rem;
  fflex-direction: column;
  gap: 1rem;
  
}

.p-card {
  width: 100%;
  border-radius: 1rem;
 
}

.p-card img {
  width: 100%;
  height: auto;

}


.p-card-text {
  padding: 1.7rem 1.3rem;
}

.p-card-text h4 {
  margin-block: 0.7rem;
}

.p-card-text p {
  margin-block: 0.7rem;

}

.p-card-text a {
  margin-block: 0.7rem;

}

.p-btn {
  text-align: center;
  width: 100%;
  
margin-inline: 0;
}

.p-btn a {
width: 100%;
margin-inline: 0;
display: inline-block;


}

.cta-top .container {
  text-align: center;
  padding-block: 2.5rem;
  padding-inline: 1rem;
}

.cta-top .container h2 {
  margin-bottom: 1.6rem;
}

.cta-top .container p {
  margin-bottom: 1.6rem;
}

.cta-btn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cta-btn a {
width: 100%;
display: inline-block;

}

.skills {
  padding-block: 2rem;
}

.skills .container h2 {
  margin-bottom: 1.8rem;
}

.skills .container .skills-p {
  margin-bottom: 2.5rem;
  
}

.skill-box {
 justify-content: center;
 align-items: center;
 gap: 1rem;
 margin-bottom: 3rem;
 flex-direction: column;
 
 
}

.skill-card {
 width: 100%;

}


.skill-text {
padding-inline: 1rem;
padding-block: 2rem;

}

.skill-text h5 {
  
 margin-bottom: 1rem;
  
}

.skill-text p {
  
 margin-bottom: 1.5rem;
  
}

.skill-text p:first-child {
  padding: 0.2rem 0.7rem;
  background-color: rgba(0, 0, 250, 0.2);
  font-size: 1rem;
  border-radius: 2rem;
  display: inline-block;
  margin-bottom: 1rem;

}

.skill-text a {

  margin-top: 1.5rem;

}

.skill-btn {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
}

.brands {
  padding: -4rem;
}

.brands .container {
  padding: 4rem 1rem 2rem;
}

.brands .container h2 {
  margin-bottom: 2rem;
}

.brands .container a {
  margin-bottom: 2rem;
  display: inline-block;
  padding-inline: auto;
  width: 100%;
}

.brand-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: -3rem;
}

.brand-card {
  background-color: white;
  width: calc(50% - 0.6rem);
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
}


.curved-bg img {
  width: 100%;
  height: auto;

  margin-bottom: -3rem;

}

.cta-mid {
  margin-block: 4rem;
  margin-inline: 0.5rem;
  
  text-align: left;
  box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-inline: 1rem;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;
}

.cta-mid-text {
  width: 100%;
  
  
}

.cta-mid-text h2 {
  margin-bottom: 2rem;
}

.cta-mid-img {
  width: 100%;
  align-self: flex-end;
  
}

.cta-mid-text a {
  margin-block: 0.5rem;
  display: inline-block;
  width: 100%;
}

.features {
 margin-block: 2rem; 
}

.features .container {
  padding-inline: 1rem;
  margin-block: 0rem;
}



.fea-box {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: left;
 flex-wrap: wrap;
 column-gap: 1.5rem;
 row-gap: 2rem;
 margin-top: 2.5rem;
}

.fea-card {
  width: 90%;
  text-align: center;
}

.fea-card img {
  width: 100%;
  height: auto;
}

.fea-card a {
  margin-top: 2.5rem;
  display: inline-block;
}

/*-------stats------*/

.stats {
  margin-block: 4rem;
}

.stats .container {
  text-align: center;
  margin-bottom: -2rem;
}

.stats .container h2 {
  margin-bottom: 2.5rem;

}

.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.stats-card {
  width: 100%;
  text-align: left;
  
}


.cta-bottom {
  margin-bottom: 3rem;
  
}

.cta-bottom .container {
  background-image: url('images/footer-mid3-in.jpg');
  background-size: contain;
  background-position: bottom;
  background-color: white;
   padding-inline: 2%;
  background-repeat: no-repeat;
}

.cta-bottom-text {
  text-align: center;
}

.cta-bottom-text h2 {
  margin-bottom: 2.5rem;
}

.cta-bottom-text p {
  margin-bottom: 2rem;
}
.cta-bottom-btn {
  display: flex;
flex-direction: column;
padding-bottom: 30%;
gap: 2rem;
}


.cta-bottom-btn a {
  width: 50%; 
display: inline-block;
  
}

.footer {
  background-color: #032d60; 
  color: white;
  padding-block: 1rem;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding-inline: 1rem;

}

.footer-logo {
  width: 100%;
  text-align: center;
  
}

.footer-text {
  width: 100%;
  
}

.footer-link {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-bottom: 1.5rem;
  
}

.footer-copy {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}



.footer a, .footer p {
  color: white;
  font-size: 0.8rem;
}

.footer h4 {
  display: inline-block;
  margin-inline: 0.2rem;
  color: white;
}

.credit p, .credit a {
  opacity: 0.4;
  display: inline-block;
}

.credit a:hover {
  color: white;
  opacity: 1;
  
}

































}