@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: Noto Sans;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: calc(16px + 0.4rem);
  
  
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.48px;
  font-weight: 700;
  color: #032d60;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #032d60;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #032d60;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #032d60;
}

h5 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #032d60;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #181818;
}

li {
  font-size: 1rem;
  font-weight: 400;
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: #032d60;
  transition: 0.5s;
}

a:hover {
  font-size: 1rem;
  font-weight: 450;
  color: #032d60;
  text-decoration: none;
  color: blue;
}

i {
  font-size: 1rem;
}

.primary-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  background-color: #0176d3;
  color: white;
  border: 3px solid #0176d3;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

.primary-btn:hover {
  font-size: 1rem;
  background-color: #032d60;
  border: 3px solid #032d60;
  color: white;
}

.secondary-btn {
  margin: 3rem 3rem;
  color: #0176d3;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  background-color: white;
  border: 3px solid #0176d3;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

.secondary-btn:hover {
 font-size: 1rem;
 background-color: white;
 border: 3px solid black;
 color: black;
}


.container {
  width: 100%;
  margin-inline: 2rem;
}
  
/*------navbar-------*/


